// this is go workspace, for when you want to work with multiple modules/packages
go 1.21.5

use (
./z_my_extras/dataStructures
./z_my_extras/designPatterns
./ch1_tutorial
./ch2_programStructure
./ch3_basicDataTypes
./ch4_compositeTypes
./ch5_functions
)
